body{
    margin:0;
}
.menu{
    box-sizing: border-box;
    margin:0;
    padding-top:20px;
    padding-left: 40px;
    width:250px;
    height: 100vh;
    color:white;
    background-color: #4B0082;
}
.text{
    padding-top:20px;
    padding-left:20px;
}
/* Flex */
.wrapper{
    display:flex;
    flex-direction: row;
    
}
/* Inline-block */
/* .wrapper{
    white-space: nowrap;
}
.menu{
    display:inline-block;
}
.text{
    vertical-align: top;
    display:inline-block;
} */

/* float */

/* .menu{
    float:left;
}
.text{
    padding-left:270px;
} */