html,body {
    box-sizing: border-box;
    height:100%;
    padding:0;
    margin:0;
}

*, *::before, *::after {
	box-sizing: inherit;
}
.wrapper{
    height: 100vh;
    display:grid;
    grid-template:50px 1fr 50px / 1fr 2fr 1fr;
}
.elem{
    text-align: center;
    font-size: 22px;
    border: 5px solid red;
}
.header{
    /* min-height: 50px; */
    grid-column:1/4;
    grid-row:1/1;
}
.left{
    grid-column:1/1;
    grid-row:2/3;
}
.center{
    grid-column:2/3;
    grid-row:2/3;
}
.right{
    grid-column:3/4;
    grid-row:2/3;
}
.footer{
    grid-column: 1/4;
    grid-row:3/4;
}